@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Public+Sans&display=swap');
.homepage-body{
    /* background-image: linear-gradient(to right top, #72899d, #5a738a, #435e78, #2d4a66, #143655) !important;    */
    height: 750px;
    width: auto;
    display: flex;
    justify-content: center;
}

.callToAction{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 275px;
    height: 50px;
    background: #F07A3D;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    cursor: pointer;
    border: none;
    font-family: "Public Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}
.callToAction:hover {
    background-color: #eb553b;

}
@media only screen and (max-height: 570px) {
    h5{
        line-height: 1 !important;
    }
}
@media (max-width: 1200px) and (min-height: 828px) and (max-height: 950px) {
    .callToAction{
        top: 60%;
    }
}
@media (max-width: 1200px) and (min-height: 700px) and (max-height: 828px) {
    .callToAction{
        top: 70%;
    }
}
@media (min-width: 300px) and (max-width: 376px) and (max-height: 600px) {
    .callToAction{
        top: 70%;
    }
}
@media (min-width: 350px) and (max-width: 376px) and (max-height: 668px) {
    .callToAction{
        top: 82%;
    }
}
@media (min-width: 750px) and (max-width: 920px) and (max-height: 1400px) {
    .callToAction{
        top: 45%;
    }
}
@media (min-width: 900px) and (max-width: 920px) and (max-height: 1400px) {
    .callToAction{
        top: 37%;
    }
}
@media (min-width: 270px) and (max-width: 290px) and (max-height: 660px) {
    .callToAction{
        top: 95%;
    }
}
@media (min-width: 1000px) and (max-width: 1300px) and (max-height: 800px) {
    .callToAction{
        top: 70%;
    }
}
@media (min-width: 1000px) and (max-width: 1300px) and (max-height: 600px) {
    .callToAction{
        top: 95%;
    }
}

/* Ipad mini */
@media (min-width: 700px) and (max-width: 800px) and (max-height: 1200px) {
    .callToAction{
        top: 45%;
    }
}
@media only screen and (max-width: 650px) {
    .callToAction{
        width: 95vw;
    }
}

.initial-content{
    margin-top: 50px;
    display: flex;
}
.starter-image{
    margin-top:3%;
    float:right;  
    width:100vw; 
    max-width:512px; 
    max-height:512px;
}

@media only screen and (max-width: 971px) {
    .initial-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* padding: 20px; */
        margin: 20px;
    }
}
@media only screen and (max-width: 971px) {
    .starter-image{
        margin-top: 125px;
    }
}

@media only screen and (min-width: 1300px) {
    .starter-image{
        margin-left: 200px;
    }
}