.dashboard-main{
    height: calc(100vh - 220px);
    height: -o-calc(100% - 220px); /* opera */
    height: -webkit-calc(100% - 220px); /* google, safari */
    height: -moz-calc(100% - 220px); /* firefox */
    display: flex;
    justify-content: center;
    text-align: center;
}

.data{
    width: 70vw;
    height: 45vh;
    overflow-x: auto;
}

.table{
    width: inherit;
    height: inherit;
    background-color: rgb(223, 52, 52);
}