.main-body{
    height: 1000px; 
    width: auto; 
    display: flex;
    justify-content: center;
}

.review-box{
    width: 80%;
    background-image: linear-gradient(to right top, #f1853e, #f07a3c, #ef6e3b, #ed623a, #eb553b);
    border-radius: 25px;
    height: fit-content;
    min-height: 300px;
    min-width: 85%;
    margin-top: 125px;
    /* display: table; */
    /* table-layout: fixed;  */
    text-align: center;
    /* text-align-last:center; */
}

.item{
    display: inline-block; 
    height: auto;
    margin: 75px;
    vertical-align: initial;
}
@media only screen and (max-width: 685px) {
    .item{
        padding: 8%;
        padding-top: 12%;
    }
}

@media only screen and (max-width: 1000px) {
    .item{
        margin: 25px;
    }
    .review-box{
        width: 95%;
    }
}

@media only screen and (max-width: 1000px) {
    .main-body{
        padding: 5%;
    }
    .item{
        margin-top: 5%;
    }
}
@media only screen and (min-width: 1250px) {
    .review-box{
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1250px) {
    .middle{
        padding-left: 100px;
        padding-right: 100px;
    }
}